= turbo_frame_tag :modal do
  %dialog.task-modal{ data: { controller: 'task-modal', action: 'click->task-modal#close' } }
    .task-modal__container
      .task-modal__header
        = @task.name
      .task-modal__body
        %pre= @task.description
      .task-modal__footer
        %button.btn.btn-secondary{ type: :button, data: { 'task-modal-target': :closeButton, action: 'task-modal#close' } }
          閉じる
