.user {
  width: 100%;
}

.user__popover-content:popover-open {
  width: 50%;
  height: 300px;
  border: 1px solid $gray-300;
  border-radius: 16px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  position: absolute;
  inset: unset;
}

.user__popover-row {
  display: flex;
  width: 100%;
  gap: 8px;
}

.user__popover-key {
  width: 30%;
  flex-shrink: 0;
}

.user__popover-value {
  width: auto;
}
